/* #region BASE */

:root {
  --primary: white;
  --secondary: rgb(228, 179, 19);
  --background: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "GARAGE GLITCH";
  src: url("/static/fonts/GARAGEGLITCHBOLDBold.woff2") format("woff2"),
    url("/static/fonts/GARAGEGLITCHBOLDBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  overflow: hidden;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--background);
  color: var(--primary);
  overflow-y: auto;
  align-content: start;
  align-items: start;
  justify-content: start;
  letter-spacing: 0.04rem;
  line-height: 1.25;
}

main {
  width: 100%;
  margin: 0 auto;
  height: auto;
}

hr {
  color: inherit;
  border-color: inherit;
  width: 100%;
  border-width: 2px;
}

p,
pre,
code {
  line-height: 1.5;
}

a[href],
a[href]:visited {
  color: inherit;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a[href]:hover {
  color: rgba(0, 0, 0, 0.5);
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 2rem;
}

h1,
h2,
h3 {
  margin-block-start: 0.6rem;
  margin-block-end: 0.6rem;
}

h1,
h2 {
  font-family: "GARAGE GLITCH";
  font-weight: bold;
  text-transform: uppercase;
}

h3,
h4 {
  font-weight: bold;
}

h3:not(:first-child) {
  margin-top: 1rem;
}

.xxl-text {
  font-size: 3rem;
}

.xl-text {
  font-size: 1.5rem;
}

.lg-text {
  font-size: 1.1rem;
}

.sm-text {
  font-size: 0.8rem;
}

.text {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

pre {
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  tab-size: 2;
  padding: 1em;
  margin: 0.5em 0;
}

nav ul {
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 0.25em;
}

nav li a {
  padding: 0.25em 0.5em;
  font-weight: bold;
  text-transform: uppercase;
}

nav li a[data-current="current item"] {
  background-color: white;
}

/* Contact Form */
form {
  display: grid;
  padding: 2em 0;
}

form label {
  display: none;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
  border: 1px solid black;
}

button {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid black;
  box-shadow: 0 0.5px 5px #000;
  background: var(--background);
  color: var(--primary);
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  border-radius: 100rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

button.alt {
  background-color: var(--primary);
  color: var(--background);
  border: 2px solid var(--primary);
}

button.alt:hover {
  background-color: var(--background);
  color: var(--primary);
  border-color: var(--primary);
}

button:hover {
  background: var(--primary);
  color: var(--background);
}

/* #endregion */

/* #region HEADER & MENU */

header {
  position: sticky;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 100;
  justify-content: center;
  align-items: center;
  background: white;
  box-shadow: #fff 0 1px 10px;
  animation: flicker 2s linear infinite;
}

header .container {
  display: flex;
  color: black !important;
  width: 90%;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0.5rem 1.25rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-transform: uppercase;
}

@keyframes flicker {
  0% {
    box-shadow: #fff 0 1px 10px;
  }
  10% {
    box-shadow: #fff 1px 2px 5px;
  }
  30% {
    box-shadow: #fff 0 1px 8px;
  }
  50% {
    box-shadow: #fff 1px 1px 13px;
  }
  60% {
    box-shadow: #fff 2px 1px 8px;
  }
  80% {
    box-shadow: #fff 0 1px 12px;
  }
  90% {
    box-shadow: #fff 1px 1px 6px;
  }
  100% {
    box-shadow: #fff 0 1px 10px;
  }
}

header .logo {
  display: flex;
  justify-content: center;
  width: 38vw;
  max-width: 150px;
}

header .logo img {
  display: block;
  margin: 0 auto;
}

header .menu,
header .cta {
  display: none;
  font-size: 0.8rem;
}

header .menu-toggle span {
  display: block;
  font-size: 2.4rem;
  color: black;
  cursor: pointer;
  line-height: 0;
}

span.active {
  transform: rotate(-0.25turn);
}

.mobile-menu {
  position: fixed;
  display: none;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  top: 5rem;
  right: 5%;
  z-index: 1000;
  background: white;
  box-shadow: 0 1px 5px #fff;
  color: black !important;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;
  gap: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  transition: all 0.3s ease-in-out;
  transform: translateY(-100%);
  animation: flicker 1s linear infinite;
}

.mobile-menu.active {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

.mobile-menu .menu {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 2rem;
  margin-bottom: 0;
}

.mobile-menu .cta {
  width: 100%;
  font-size: 1.2rem;
}

.mobile-menu a,
.mobile-menu button {
  width: 100%;
  letter-spacing: 0.05rem;
}

/* #endregion */

/* #region FOOTER */

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  place-content: center;
  place-items: center;
}

footer .signup {
  padding: 1rem;
}

footer .signup .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  place-items: center;
  place-content: center;
  margin: 0 auto;
  max-width: 900px;
}

footer .signup .day {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 1rem;
  width: 100%;
  text-align: center;
  place-content: center;
  place-items: center;
}

footer .signup .day img {
  height: 100px;
  margin-bottom: 1.5rem;
}

footer .legals {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  text-align: center;
  justify-content: space-between;
}

footer .copyright {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

footer .socials {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
  place-items: center;
  place-content: center;
  margin-top: 1rem;
}

/* #endregion */

/* #region SECTIONS */

section {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4rem 1rem;
  justify-content: center;
  align-items: start;
  overflow-x: hidden;
  text-align: left;
  border-color: white;
  width: 100%;
  height: auto;
  border-bottom: 2px solid white;
  text-align: center;
}

section .container {
  margin: 0 auto;
  width: 100%;
  max-width: 1100px;
}

section.alt {
  background: var(--primary);
  color: var(--background);
  border-color: blacks;
}

section .overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  place-items: center;
  place-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

/* #endregion */

/* #region HERO */

.hero {
  border-bottom: 1px solid white;
  height: 12rem;
  overflow: hidden;
}

.hero .overlay {
  background: rgba(0, 0, 0, 0);
  animation: overlay 2s linear;
}

@keyframes overlay {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  20% {
    background: rgba(0, 0, 0, 0.5);
  }
  80% {
    background: rgba(0, 0, 0, 0.5);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

.hero video {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100vw;
  height: auto;
  z-index: -100;
  object-fit: cover;
}

.hero .artwork {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100%;
  z-index: -10;
  left: 0;
  top: 0;
}

.hero .artwork .top-blob {
  position: absolute;
  display: block;
  right: -2rem;
  top: -3rem;
  width: 30%;
  max-width: 220px;
}

.hero .artwork .bottom-blob {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 30%;
  max-width: 220px;
}

.hero .artwork .top-crop {
  position: absolute;
  display: block;
  left: 10px;
  top: 10px;
  width: 10%;
  max-width: 40px;
}

.hero .artwork .bottom-crop {
  position: absolute;
  display: block;
  right: 10px;
  bottom: 10px;
  width: 10%;
  max-width: 40px;
}

.hero .logo {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  animation: logo 2s linear;
  opacity: 0;
  z-index: 10;
}

@keyframes logo {
  0% {
    opacity: 0;
    filter: brightness(0);
  }
  20% {
    opacity: 1;
    filter: brightness(1);
  }
  80% {
    opacity: 1;
    filter: brightness(1);
  }
  100% {
    opacity: 0;
    filter: brightness(2);
  }
}

/* #endregion */

/* #region HOMEPAGE */

.about {
  background: url(/static/img/background.jpg);
  background-size: cover;
  text-align: center;
  background-position: center;
}

.about .text {
  max-width: 900px;
  padding: 6rem 2rem;
  text-align: left;
}

.topics {
  padding: 0;
  text-align: justify;
}

.topics p {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 0.06rem;
}

.days .container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  place-content: center;
  place-items: center;
  text-align: center;
}

#access .day {
  background-color: white;
  color: black;
  padding: 2rem;
  box-shadow: #fff 0 1px 10px;
}

.days .container .times {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.days .container .day {
  display: block;
  width: 100%;
}

.days .container .day button {
  font-size: 0.9rem;
}

.days .container img {
  width: 100%;
  max-width: 500px;
}

/* #endregion */

/* #region LOCATIONS */

.locations .container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 1rem;
}

.locations .location {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  background: var(--primary);
  color: var(--background);
}

.locations .location .text {
  position: relative;
  width: 100%;
  padding: 0.5rem 1.5rem;
  text-align: left;
}

.locations .location .image {
  position: relative;
  width: 100%;
  height: 12rem;
  background-size: cover;
  background-position: center;
}

.locationslist {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.locationslist .container {
  display: flex;
  flex-direction: column;
  max-width: 1360px;
  place-content: center;
  place-items: center;
}

.locationslist .map {
  width: 100%;
  max-width: 800px;
}

.locationslist .locations {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  gap: 1rem;
  text-align: left;
}

.locationslist .location {
  display: grid;
  grid-template: auto / 2fr 1fr;
  place-content: center;
  place-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.locationslist .location .textbox {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: white;
  color: black;
  width: 100%;
  height: 100%;
}

.locationslist .location .imagebox {
  display: flex;
  padding: 2rem;
  background: white;
  color: white;
  width: 100%;
  height: 15rem;
  background-size: cover;
}

/* #endregion */

/* #region PARTNERS */

.partners .container div {
  display: grid;
  place-content: center;
  place-items: center;
}

.partners .large-logos {
  display: grid;
  grid-template: auto / repeat(3, 1fr);
  gap: 3rem;
  margin-bottom: 3rem;
}

.partners .small-logos {
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 3rem;
}

.partners a {
  filter: saturate(0);
  opacity: 0.9;
}

.partners a:hover {
  filter: saturate(1);
  opacity: 1;
}

.partners .large-logos img {
  width: 100%;
  max-width: 180px;
}

.partners .small-logos img {
  width: 100%;
  max-width: 120px;
}

.partnerlist .grid {
  display: grid;
  grid-template: auto / repeat(1, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}

.partnerlist .partner {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  border: 1px solid white;
  padding: 2rem 1rem;
  width: 100%;
}

.socials .container {
  display: flex;
  gap: 2rem;
  place-content: center;
  place-items: center;
}

/* #endregion 

/* #region SCHEDULE */

/* #region SPEAKERS */

.speakers .container {
  display: grid;
  grid-template: auto / repeat(1, 1fr);
  gap: 1rem;
  max-width: 1200px;
}

.speakers .speaker {
  display: block;
  padding: 2rem;
  background: white;
  color: black !important;
}

.speakers .speaker img {
  border-radius: 50rem;
}

/* #endregion */

/* #region SCHEDULE */

.page-hero {
  padding: 2rem 2rem 0 2rem;
  background: white;
  color: black;
}

.page-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-hero .container h1 {
  margin-block-end: 0;
  line-height: 1;
}

.schedule {
  display: none;
}

.mobile-schedule {
  display: flex;
  place-content: center;
  place-items: center;
}

.mobile-schedule .container {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
}

.mobile-schedule table,
.mobile-schedule tr {
  display: block;
  flex-direction: column;
}

.mobile-schedule td {
  display: block !important;
  padding: 0.5rem;
  border: 1px solid #fff;
}

.description .container {
  display: flex;
  place-content: center;
  place-items: center;
  justify-items: start;
  gap: 3rem;
}

.description .text {
  text-align: left;
}

.description .image {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  padding: 1rem;
  height: 100%;
  width: 100%;
  max-width: 400px;
}

.description .image img {
  width: 100%;
}

.description .image a {
  margin-top: 2rem;
}

/* #endregion */

/* #region TABLET STYLING */

@media screen and (min-width: 768px) {
  header .container {
    flex-direction: row;
    padding: 0.6rem 1.5rem;
  }

  .hero {
    height: 40vw;
  }

  .hero .logo {
    max-width: 500px;
  }

  .speakers .container {
    grid-template: auto / repeat(2, 1fr);
  }

  footer .signup .container {
    flex-direction: row;
  }

  footer .legals {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
  }

  footer .copyright {
    flex-direction: row;
    gap: 2rem;
  }

  footer .socials {
    width: auto;
    margin-top: 0;
  }
}

/* #endregion */

/* #region DESKTOP STYLING */

@media screen and (min-width: 990px) {
  :root {
    font-size: 1.1rem;
  }

  .xxl-text {
    font-size: 5rem;
  }

  .xl-text {
    font-size: 1.5rem;
  }

  .lg-text {
    font-size: 1.1rem;
  }

  .sm-text {
    font-size: 0.8rem;
  }

  header .container {
    flex-direction: row;
    padding: 0.6rem 1.5rem;
  }

  header .menu {
    display: block;
  }

  header .cta {
    display: block;
  }

  header .menu-toggle {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .hero {
    padding: 15rem 1rem;
    text-align: center;
  }

  .hero .logo {
    max-width: 700px;
  }

  .days .container a {
    width: 50%;
  }

  .hero .artwork .top-blob {
    position: absolute;
    display: block;
    right: -3rem;
    top: -5rem;
    width: 20%;
    max-width: 220px;
  }

  .partnerlist .grid {
    grid-template: auto / repeat(2, 1fr);
  }

  .partnerlist .partner {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    border: 1px solid white;
    padding: 3rem;
    width: 100%;
  }

  .schedule {
    display: block;
  }

  .schedule table {
    margin: 0 auto;
    max-width: 1360px;
    border-collapse: collapse;
    table-layout: fixed;
    font-size: 0.8rem;
  }

  .schedule th,
  .schedule td {
    border: 1px solid #fff;
    padding: 0.5rem;
  }

  .schedule th {
    background: white;
    color: black;
    border: 1px solid black;
  }

  .schedule .times,
  .schedule .type {
    width: 200px;
  }

  .mobile-schedule {
    display: none;
  }

  .locations .location {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    background: var(--primary);
    color: var(--background);
  }

  .locations .location .text {
    position: relative;
    width: 60%;
    padding: 1rem 2rem;
  }

  .locationslist .container {
    display: flex;
    flex-direction: row;
    max-width: 1360px;
  }

  .locationslist .map {
    width: 60%;
    max-width: 800px;
  }

  .locations .location .image {
    position: relative;
    width: 40%;
    height: 10rem;
    background-size: cover;
    background-position: center;
  }

  .speakers .container {
    grid-template: auto / repeat(3, 1fr);
  }
}

/* #endregion */
