<footer>
  <div class="container">
    <div class="copyright">
      <p class="sm-text">© 2024 The Garage, LLC. - All Rights Reserved</p>
    </div>
    <div class="socials">
      <a href="https://www.instagram.com/the_garage.tv" target="_blank"
        ><img src="/static/img/instagram.png" alt="Instagram" width="40"
      /></a>
      <a href="https://www.tiktok.com/@the_garage.tv" target="_blank"
        ><img src="/static/img/tiktok.png" alt="TikTok" width="40"
      /></a>
    </div>
    <div class="credits">
      <p class="sm-text">
        Site by
        <a href="https://brandondithberry.com"><u>Brandon Dith-Berry</u></a>
      </p>
    </div>
  </div>
</footer>
