---
layout: layouts/base.njk
section: contact
---

<section class="days" id="access">
  <div class="container">
    <h1 class="xxl-text">Sign Up</h1>
    <div class="text">
      <div class="times">
        <div class="day">
          <h2 class="xl-text">July 31st</h2>
          <h4>Open to Creative Professionals</h4>
          <a
            href="https://partiful.com/e/sD1PdjH8TfC9mcJ8D8R8"
            target="_blank"
            ><button>Sign Up</button></a
          >
        </div>
        <div class="day">
          <h2 class="xl-text">August 1st</h2>
          <h4>Open to Marketing and Advertising Professionals</h4>
          <a
            href="https://partiful.com/e/XOlIrrHeYdzlpffgeyrv"
            target="_blank"
            ><button>Sign Up</button></a
          >
        </div>
      </div>
    </div>
  </div>
</section>
