<section class="page-hero">
  <div class="container">
    <h1 class="xxl-text">{{ title | safe }}</h1>
  </div>
</section>
<section class="description">
  <div class="container">
    <div class="text">
      <p>{{ description | safe }}</p>
    </div>
    <div class="image">
      <img src="{{ image | safe }}" alt="Day Image" width="400" />
      <a href="{{ invite | safe }}" target="_blank" class="lg-text">
        <button class="alt">Sign Up</button>
      </a>
    </div>
  </div>
</section>
<section class="mobile-schedule">
  <div class="container">
    <h2 class="xxl-text">Schedule</h2>
    <table>
      {% set eventColors = { "Presentation": "#2e0e0e", "Demo": "#0e2e26",
      "Panel Discussion": "#210e2e", "Networking": "#0e1c2e" } %} {% for event
      in events %}
      <tr style="background: {{ eventColors[event.type] }}; color: white">
        <td style="background: white; color: black">
          {% if event.times %}
          <strong>{{ event.times | safe }}</strong>
          {% endif %}
        </td>
        <td>
          {% if event.type %}
          <b>{{ event.type | upper | safe }}</b>
          {% endif %}
        </td>
        <td>{{ event.title | safe }}</td>
        <td>
          {% if event.location %}
          <span><b>Location: </b></span>{{ event.location | safe }} {% endif %}
        </td>
        <td>{{ event.moderator | safe }}</td>
        <td>{{ event.panelists | safe }}</td>
        <td>{{ event.info | markdown | safe }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</section>
<section class="schedule">
  <h2 class="xl-text">Schedule</h2>
  <table>
    <tr class="header">
      <th>Times</th>
      <th>Type</th>
      <th>Event</th>
      <th>Location</th>
      <th>Presenter</th>
      <th>Moderator</th>
      <th>Panelists</th>
      <th>Info</th>
    </tr>
    {% set eventColors = { "Presentation": "#2e0e0e", "Demo": "#0e2e26", "Panel
    Discussion": "#210e2e", "Networking": "#0e1c2e" } %} {% for event in events
    %}
    <tr style="background: {{ eventColors[event.type] }}; color: white">
      <td class="times">
        <strong>{{ event.times | safe }}</strong>
      </td>
      <td class="type">
        {% if event.type %}
        <b>{{ event.type | upper | safe }}</b>
        {% endif %}
      </td>
      <td>{{ event.title | safe }}</td>
      <td>{{ event.location | safe }}</td>
      {% if event.presenter %}
      <td>
        {% for speaker in speakers %} 
        {% set speakerData = collections.speakers | findBySlug(event.presenter) %}
        <a href="/speakers/{{ event.presenter | safe }}/index.html">{{ speakerData.name | safe }}</a>
        {% endfor %}
      </td>
      {% endif %}
      <td>{{ event.moderator | safe }}</td>
      <td>{{ event.panelists | safe }}</td>
      <td>{{ event.info | markdown | safe }}</td>
    </tr>
    {% endfor %}
  </table>
</section>
