---
layout: layouts/base.njk
section: home
---

<section class="hero">
  <div class="overlay">
    <img class="logo" src="/static/img/logo.png" alt="VPU Logo" />
    <video autoplay loop muted>
      <source src="/static/video/vpuvideo.webm" type="video/webm" />
    </video>
    <div class="artwork">
      <img src="/static/img/blob1.svg" alt="Top Blob" class="top-blob" />
      <img src="/static/img/blob2.svg" alt="Bottom Blob" class="bottom-blob" />
      <img src="/static/img/crop-left.svg" alt="Top Crop" class="top-crop" />
      <img
        src="/static/img/crop-right.svg"
        alt="Bottom Crop"
        class="bottom-crop"
      />
    </div>
  </div>
</section>
<section class="topics">
  <p>
    <span style="font-weight: normal">Topics Covered</span> • Virtual Production
    workflow and budgeting • Innovation at the intersection of Art and
    Technology • The History of Virtual Production • The Major components of a
    Virtual Production system • 2D vs 3D Backgrounds • Virtual Art Department
    and Unreal Set Building • Production Design for Virtual Production •
    Lighting for Virtual Production
  </p>
</section>
<section class="about">
  <div class="over">
    <div class="text">
      <p class="lg-text">
        Join us as we bring together our community of technologists, creatives
        and thought leaders for two days of focused sessions around the topic of
        VP for commercials, advertising and brand activations.
      </p>
    </div>
  </div>
</section>
<section class="locations">
  <div class="container">
    <h2 class="xl-text">LOCATIONS</h2>
    <div class="location">
      <div class="text-box">
        <h3 class="lg-text">The Garage Studio</h3>
        <p>July 31st & August 1st</p>
      </div>
      <div
        class="image"
        style="background-image: url(/static/img/garage-studio.jpg)"
      ></div>
    </div>
    <div class="location">
      <div class="text-box">
        <h3 class="lg-text">AbelCine Learning Point Theater</h3>
        <p>July 31st & August 1st</p>
      </div>
      <div
        class="image"
        style="background-image: url(/static/img/abelcine.jpg)"
        ;
      ></div>
    </div>
    <div class="location">
      <div class="text-box">
        <h3 class="lg-text">NYU Martin Scorsese Virtual Production Center</h3>
        <p>August 1st Only</p>
      </div>
      <div
        class="image"
        style="background-image: url(/static/img/nyumsvpc.jpg)"
      ></div>
    </div>
  </div>
</section>
<section class="partners">
  <div class="container">
    <h2 style="margin-bottom: 3rem">SPECIAL THANKS TO OUR PARTNERS</h2>
    <h3>Lead Partners</h3>
    <div class="large-logos">
      <a href="https://www.the-garage.tv/" target="_blank"
        ><img src="/static/img/TheGarage-White-WordMark.png" alt="The Garage"
      /></a>
      <a href="https://www.abelcine.com/" target="_blank"
        ><img src="/static/img/AbelCine.png" alt="Abel Cine"
      /></a>
      <a href="https://www.luxmc.com/" target="_blank"
        ><img src="/static/img/Lux LogoWhite.png" alt="Lux Machina"
      /></a>
      <a href="https://nabshow.com/2024/" target="_blank"
        ><img src="/static/img/nabshow.png" alt="NABSHOW"
      /></a>
      <a href="https://luxlightingllc.com/" target="_blank"
        ><img src="/static/img/luxlighting (over dark).png" alt="Lux Lighting"
      /></a>
      <a href="https://tisch.nyu.edu/virtual-production" target="_blank"
        ><img src="/static/img/NYU-MSVPC_LockupArt_WHITE.png" alt="NYU MSVP"
      /></a>
    </div>
    <h3>Secondary Partners</h3>
    <div class="small-logos">
      <a href="https://industrycity.com/" target="_blank"
        ><img src="/static/img/industry-city.png" alt="Industry City"
      /></a>
      <a href="https://www.assimilateinc.com/" target="_blank"
        ><img src="/static/img/Assimilate-logo-JPG.webp" alt="Assimilate"
      /></a>
      <a href="https://www.quasarscience.com/" target="_blank"
        ><img src="/static/img/quesar.png" alt="Quasar"
      /></a>
      <a href="https://creamsource.com/" target="_blank"
        ><img src="/static/img/creamsource.png" alt="Cream Source"
      /></a>
      <div></div>
      <a href="https://hologen.io/" target="_blank"
        ><img
          src="/static/img/HologenTransparentBGLogo_WhiteText.png"
          alt="Hologen io"
      /></a>
      <a href="https://www.realityvfx.com/" target="_blank"
        ><img src="/static/img/realityvfx.jpeg" alt="Reality VFX"
      /></a>
      <div></div>
    </div>
    <h4 style="margin-top: 3rem">
      <a href="/partners/index.html"
        ><button class="alt">Learn More About our Partners</button></a
      >
    </h4>
  </div>
</section>
<section class="signup">
  <div class="container">
    <div class="day">
      <img src="/static/img/title-july31st-invert.jpg" alt="July 31st Logo" />
      <h2>July 31st</h2>
      <a href="https://partiful.com/e/sD1PdjH8TfC9mcJ8D8R8" target="_blank"
        ><button>Sign Up</button></a
      >
    </div>
    <div class="day">
      <img src="/static/img/title-august1st-invert.jpg" alt="July 31st Logo" />
      <h2>August 1st</h2>
      <a href="https://partiful.com/e/XOlIrrHeYdzlpffgeyrv" target="_blank"
        ><button>Sign Up</button></a
      >
    </div>
  </div>
</section>
