---
layout: layouts/base.njk
section: contact
---

<section class="page-hero">
  <div class="container">
    <h1 class="xxl-text">Sign Up</h1>
</section>
<section class="signup-alt">
  <div class="container">
    <div class="day">
      <img src="/static/img/title-july31st.jpg" alt="July 31st Logo" />
      <h2 class="xl-text">July 31st</h2>
      <a href="https://partiful.com/e/sD1PdjH8TfC9mcJ8D8R8" target="_blank"
        ><button class="alt">Sign Up</button></a
      >
    </div>
    <div class="day">
      <img src="/static/img/title-august1st.jpg" alt="July 31st Logo" />
      <h2 class="xl-text">August 1st</h2>
      <a href="https://partiful.com/e/XOlIrrHeYdzlpffgeyrv" target="_blank"
        ><button class="alt">Sign Up</button></a
      >
    </div>
  </div>
</section>