---
layout: layouts/base.njk
section: speakers
permalink: /speakers/index.html
---

{% set speakers = collections.speakers %}
<section
  style="
    background: url(/static/img/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 8% 1rem;
  "
>
  <div class="overlay">
    <div class="container">
      <h1 class="xxl-text">{{ title }}</h1>
    </div>
  </div>
</section>
<section class="speakers">
  <div class="container">
    {% for speaker in speakers %}
    <div class="speaker">
      <h1>{{ speaker.data.slug }}</h1>
      {% if speaker.data.headshot %}
      <img src="{{ speaker.data.headshot }}" width="200" />
      {% endif %} {% if speaker.data.speaker %}
      <a href="/speakers/{{ speaker.data.slug }}/index.html" style="text-decoration: underline"
        ><h2>{{ speaker.data.speaker }}</h2></a
      >
      {% endif %} {% if speaker.data.role %}
      <h4>{{ speaker.data.role }}</h4>
      {% endif %} {% if speaker.data.company %}
      <p class="lg-text">{{ speaker.data.company }}</p>
      {% endif %} {% if speaker.data.mainviewpoint %}
      <h5>{{ speaker.data.mainviewpoint }}</h5>
      {% endif %} {% if speaker.data.linkedin %}
      <a href="{{ speaker.data.linkedin }}" target="_blank"
        ><img src="/static/img/linkedin.png" alt="linkedin" width="40px"
      /></a>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
