---
layout: layouts/base.njk
section: speaker
---

<section class="page-hero">
  <div class="container">
    <h1 class="xxl-text">{{ speaker }}</h1>
  </div>
</section>
<section class="profile">
  <div class="container">
    <sidebar>
      <div class="headshot">
        <img src="{{ headshot }}" alt="Headshot" />
      </div>
      <div class="overview">
        <h4>{{ role }}</h4>
        <h2>{{ company }}</h2>
        {% if type %}
        <p>{{ type }}</p>
        {% endif %} {% if linkedin %}<a href="{{ linkedin }}" target="_blank"
          ><img src="/static/img/linkedin.png" alt="linkedin" width="40" /></a
        >{% endif %}
      </div>
    </sidebar>
    <article>
      <div class="bio">
        {% if mainviewpoint %}
        <h4>Main Viewpoint</h4>
        <h2>{{ mainviewpoint }}</h2>
        {% endif %} {% if dates %}
        <h4><b>Attending: </b>{{ dates }}</h4>
        {% endif %} {% if bio %}
        <p>{{ bio | markdown | safe }}</p>
        {% endif %}
      </div>
    </article>
  </div>
</section>
