---
layout: layouts/base.njk
section: speaker
---

<section class="page-hero">
  <div class="container">
    <h1 class="xxl-text">{{ title }}</h1>
  </div>
</section>
<section class="profile">
  <div class="container">
    <sidebar>
      <div class="headshot">
        <img src="{{ headshot }}" alt="Headshot" />
      </div>
      <div class="overview">
        <h4>{{ role }}</h4>
        <h2>{{ company }}</h2>
        {% if event.type %}
        <p>{{ type }}</p>
        {% endif %} {% if event.linkedin %}<a
          href="{{ linkedin }}"
          target="_blank"
          ><img src="/static/img/linkedin.png" alt="linkedin" width="40" /></a
        >{% endif %}
      </div>
    </sidebar>
    <article>
      <div class="bio">
        <h4>Main Viewpoint</h4>
        {% if event.mainviewpoint %}
        <h2>{{ mainviewpoint }}</h2>
        {% endif %} {% if event.dates %}
        <h4><b>Attending: </b>{{ dates }}</h4>
        {% endif %} {% if event.bio %}
        <p>{{ bio | markdown | safe }}</p>
        {% endif %}
      </div>
      <div class="events">
        <h3>Events</h3>
        {% if event.event %}
        <p>{{ event | markdown | safe }}</p>
        {% endif %}
      </div>
    </article>
  </div>
</section>
