---
layout: layouts/base.njk
section: videos
permalink: /videos/index.html
---

<section class="page-hero">
  <div class="container">
    <h1 class="xxl-text">{{ title }}</h1>
  </div>
</section>

{% set videolist = collections.videos %}
<section class="videolist">
  <div class="grid">
    {% for video in videolist %}
    <div class="video">
      <h3>
        {% if video.data.title %}
        {{ video.data.title }}
        {% else %} Untitled {% endif %}
      </h3>
      {% if video.data.embed.code %}
      <div>
        {{ video.data.embed.code }}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
