---
layout: layouts/base.njk
section: videos
permalink: /videos/index.html
---

<section class="page-hero">
  <div class="container">
    <h1 class="xxl-text">{{ title }}</h1>
  </div>
</section>

{% set videolist = collections.videos %}
<section class="videolist">
  <div class="grid">
    {% for video in videolist %}
    <div class="video">
      <h3>
        {% if video.data.title %}
        {{ video.data.title }}
        {% else %} Untitled {% endif %}
      </h3>
      {% if video.data.embed %}
      <div style=\"padding:56.25% 0 0 0;position:relative;\"><iframe src=\"https://player.vimeo.com/video/<div style=\"padding:56.25% 0 0 0;position:relative;\"><iframe src=\"https://player.vimeo.com/video/1004107408?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture; clipboard-write\" style=\"position:absolute;top:0;left:0;width:100%;height:100%;\" title=\"PANEL: Can This Ad be Shot with Virtual Production?\"></iframe></div><script src=\"https://player.vimeo.com/api/player.js\"></script>?badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479\" frameborder=\"0\" allow=\"autoplay; fullscreen; picture-in-picture; clipboard-write\" style=\"position:absolute;top:0;left:0;width:100%;height:100%;\" title=\"PANEL: Can This Ad be Shot with Virtual Production?\"></iframe></div><script src=\"https://player.vimeo.com/api/player.js\"></script>
      {{ video.data.embed | safe }}
      {% endif %}
    </div>
    {% endfor %}
  </div>
</section>
